/* Reset */
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body {
  background-color: black;
  font-family: arial;
}
/* Bottoni */
.btn {
  background-color: lightgrey;
  color: gray;
  font-size: 0.8em;
  padding: 10px 10px;
  display: block;
  border-radius:10px;
  margin-left: 3px;
  flex: end;
  transition: 0.3s;
}
.btn:hover {
  color: white;
  background-color: grey;
}
/* header */
header {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}
